<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact </title>
</head>
<body>
    <h1>Give me your name, email and phone number</h1>
    <form action="#" th:action="@{/contact}" th:object="${contact}" method="post">
        <h4> Name:
            <label>
                <input type="text" th:field="*{name}" placeholder="Full Name"/>
            </label>
        </h4>
        <h4> Email Address:
            <label>
                <input type="text" th:field="*{email}" placeholder="example@hotmale.com">
            </label>
        </h4>
        <h4> Phone Number:
            <label>
                <input type="text" th:field="*{phoneNumber}" placeholder="Enter phone number">
            </label>
        </h4>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>
</html>